body {
    font-family: Arial;
    background-color: #f4f6f8;
    padding: 40px;
}

h1 {
    color: #333;
}

input {
    padding: 8px;
    width: 250px;
}

button {
    padding: 8px 12px;
    background-color: blue;
    color: white;
    border: none;
}

li {
    margin: 10px 0;
}

a {
    margin-left: 10px;
    color: red;
    text-decoration: none;
}
